In [2]:
import sys
from pathlib import Path

current = Path.cwd()

indicators = [
    '.git', 'pyproject.toml'
]

for parent in [current] + list(current.parents):
    if any((parent / indicator).exists() for indicator in indicators):
        project_root = parent

sys.path.insert(0, str(project_root))

In [3]:
import pandas as pd
from src.data_ingestion.fastf1_client import FastF1Client

In [4]:
client = FastF1Client()

In [5]:
session = client.get_session(2019, "Monza", "R")
session.load(laps=True, telemetry=True, weather=False, messages=False)

core           INFO 	Loading data for Italian Grand Prix - Race [v3.6.1]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core        WARNING 	Driver 16 completed the race distance 00:00.092000 before the recorded end of the session.
core           INFO 	Finished loading data for 20 drivers: ['16', '77', '44', '3', '27', '23', '11', '33', '99', '4', '10', '18', '5', '63', '7', '8', '88', '20', '26', '55']
core           INFO 	Loading data for Italian Grand Prix - Race [v3.6.1]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
core        WARNING 	Driver 16 completed the race distance 00:00.092000 before the recorded end of the session.
core           INFO 	Finished loading data for 20 drivers: ['16', '77', '44', '3', '27', '23', '11', '33', '99', '4', '10', '18', '5', '63', '7', '8', '88', '20', '26', '55']

In [6]:
laps = session.laps
laps.head()

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 00:34:55.112000,GAS,10,0 days 00:01:34.820000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:31.637000,...,True,Toro Rosso,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,14.0,False,,False,False
1,0 days 00:36:22.552000,GAS,10,0 days 00:01:27.440000,2.0,1.0,NaT,NaT,0 days 00:00:28.465000,0 days 00:00:30.036000,...,True,Toro Rosso,0 days 00:34:55.112000,2019-09-08 13:14:56.439,1,13.0,False,,False,True
2,0 days 00:37:49.865000,GAS,10,0 days 00:01:27.313000,3.0,1.0,NaT,NaT,0 days 00:00:28.488000,0 days 00:00:29.415000,...,True,Toro Rosso,0 days 00:36:22.552000,2019-09-08 13:16:23.879,12,13.0,False,,False,True
3,0 days 00:39:16.986000,GAS,10,0 days 00:01:27.121000,4.0,1.0,NaT,NaT,0 days 00:00:28.257000,0 days 00:00:29.857000,...,True,Toro Rosso,0 days 00:37:49.865000,2019-09-08 13:17:51.192,1,13.0,False,,False,True
4,0 days 00:40:43.501000,GAS,10,0 days 00:01:26.515000,5.0,1.0,NaT,NaT,0 days 00:00:28.415000,0 days 00:00:29.201000,...,True,Toro Rosso,0 days 00:39:16.986000,2019-09-08 13:19:18.313,1,13.0,False,,False,True

In [7]:
track_status = session.track_status
track_status.head()

                    Time Status   Message
0 0 days 00:08:06.272000      1  AllClear
1 0 days 00:33:37.039000      2    Yellow
2 0 days 00:33:40.003000      1  AllClear
3 0 days 00:37:05.594000      2    Yellow
4 0 days 00:37:09.759000      1  AllClear

In [8]:
track_status

                     Time Status      Message
0  0 days 00:08:06.272000      1     AllClear
1  0 days 00:33:37.039000      2       Yellow
2  0 days 00:33:40.003000      1     AllClear
3  0 days 00:37:05.594000      2       Yellow
4  0 days 00:37:09.759000      1     AllClear
5  0 days 00:41:34.800000      2       Yellow
6  0 days 00:41:55.548000      1     AllClear
7  0 days 01:12:57.265000      2       Yellow
8  0 days 01:13:27.092000      6  VSCDeployed
9  0 days 01:14:08.119000      7    VSCEnding
10 0 days 01:14:20.568000      1     AllClear
11 0 days 01:16:17.115000      2       Yellow
12 0 days 01:16:30.375000      6  VSCDeployed
13 0 days 01:17:34.771000      7    VSCEnding
14 0 days 01:17:49.029000      1     AllClear

In [9]:
session_status = session.session_status
print(session_status.shape)

(5, 2)

In [10]:
session_status

                    Time     Status
0 0 days 00:00:05.314000   Inactive
1 0 days 00:33:20.098000    Started
2 0 days 01:48:47.049000   Finished
3 0 days 01:51:29.802000  Finalised
4 0 days 01:51:31.689000       Ends

In [11]:
messages = session.race_control_messages

In [12]:
messages.head()

,Time,Category,Message,Status,Flag,Scope,Sector,RacingNumber,Lap
0,2019-09-08 12:55:04,Other,RISK OF RAIN FOR F1 RACE IS 10%,None,None,None,NaN,None,1
1,2019-09-08 13:07:07,Drs,DRS DISABLED,DISABLED,None,None,NaN,None,1
2,2019-09-08 13:13:21,Flag,GREEN LIGHT - PIT EXIT OPEN,None,GREEN,Track,NaN,None,1
3,2019-09-08 13:13:38,Flag,DOUBLE YELLOW IN TRACK SECTOR 3,None,DOUBLE YELLOW,Sector,3.0,None,1
4,2019-09-08 13:13:41,Flag,CLEAR IN TRACK SECTOR 3,None,CLEAR,Sector,3.0,None,1

In [13]:
sample_lap = laps.iloc[3, :]
sample_lap

Time                      0 days 00:39:16.986000
Driver                                       GAS
DriverNumber                                  10
LapTime                   0 days 00:01:27.121000
LapNumber                                    4.0
Stint                                        1.0
PitOutTime                                   NaT
PitInTime                                    NaT
Sector1Time               0 days 00:00:28.257000
Sector2Time               0 days 00:00:29.857000
Sector3Time               0 days 00:00:29.007000
Sector1SessionTime        0 days 00:38:18.153000
Sector2SessionTime        0 days 00:38:48.010000
Sector3SessionTime        0 days 00:39:17.017000
SpeedI1                                    308.0
SpeedI2                                    322.0
SpeedFL                                    303.0
SpeedST                                    338.0
IsPersonalBest                              True
Compound                                  MEDIUM
TyreLife                                     4.0
FreshTyre                                   True
Team                                  Toro Rosso
LapStartTime              0 days 00:37:49.865000
LapStartDate          2019-09-08 13:17:51.192000
TrackStatus                                    1
Position                                    13.0
Deleted                                    False
DeletedReason
FastF1Generated                            False
IsAccurate                                  True
Name: 3, dtype: object

In [14]:
telemetry_sample_lap = sample_lap.get_telemetry()
telemetry_sample_lap.head()

,Date,SessionTime,DriverAhead,DistanceToDriverAhead,Time,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Distance,RelativeDistance,Status,X,Y,Z
2,2019-09-08 13:17:51.192,0 days 00:37:49.865000,,68.845556,0 days 00:00:00,11116.000000,309.208333,8,100.0,False,10,interpolation,0.003250,5.613990e-07,OnTrack,-1417.598812,-988.100707,1871.045613
3,2019-09-08 13:17:51.382,0 days 00:37:50.055000,,68.845556,0 days 00:00:00.190000,11116.000000,310.000000,8,100.0,False,8,car,16.375000,2.828660e-03,OnTrack,-1399.661745,-807.243973,1871.617504
4,2019-09-08 13:17:51.458,0 days 00:37:50.131000,,68.845556,0 days 00:00:00.266000,11128.666624,310.633331,8,100.0,False,8,pos,22.946294,3.963803e-03,OnTrack,-1393.000000,-739.000000,1872.000000
5,2019-09-08 13:17:51.622,0 days 00:37:50.295000,26,68.845556,0 days 00:00:00.430000,11156.000000,312.000000,8,100.0,False,8,car,37.175000,6.421707e-03,OnTrack,-1379.617489,-599.689105,1873.120834
6,2019-09-08 13:17:51.758,0 days 00:37:50.431000,26,69.336667,0 days 00:00:00.566000,11226.833333,313.133333,8,100.0,False,8,pos,49.031642,8.469854e-03,OnTrack,-1369.000000,-490.000000,1874.000000

In [15]:
car_data_sample_lap = sample_lap.get_car_data()
pos_data_sample_lap = sample_lap.get_pos_data()

In [16]:
car_data_sample_lap.Source.value_counts()

Source
car    357
Name: count, dtype: int64

In [17]:
pos_data_sample_lap.Source.value_counts()

Source
pos    293
Name: count, dtype: int64

In [18]:
sample_lap2 = laps.iloc[4, :]

In [19]:
pos_data_sample_lap2 = sample_lap2.get_pos_data()

In [20]:
print(f"Sample Lap 1: {pos_data_sample_lap.shape}")
print(f"Sample Lap 2: {pos_data_sample_lap2.shape}")

Sample Lap 1: (293, 8)
Sample Lap 2: (291, 8)

In [21]:
shape = laps.shape
type(shape)

tuple

In [22]:
shape[0]

991

In [23]:
tele_df = pd.DataFrame()

In [24]:
tele_df

Empty DataFrame
Columns: []
Index: []

In [28]:
tele_df = pd.concat([tele_df, pos_data_sample_lap], ignore_index=True)

In [29]:
tele_df.head()

,Date,Status,X,Y,Z,Source,Time,SessionTime
0,2019-09-08 13:17:51.458,OnTrack,-1393.0,-739.0,1872.0,pos,0 days 00:00:00.266000,0 days 00:37:50.131000
1,2019-09-08 13:17:51.758,OnTrack,-1369.0,-490.0,1874.0,pos,0 days 00:00:00.566000,0 days 00:37:50.431000
2,2019-09-08 13:17:52.058,OnTrack,-1345.0,-252.0,1875.0,pos,0 days 00:00:00.866000,0 days 00:37:50.731000
3,2019-09-08 13:17:52.358,OnTrack,-1318.0,16.0,1876.0,pos,0 days 00:00:01.166000,0 days 00:37:51.031000
4,2019-09-08 13:17:52.658,OnTrack,-1294.0,265.0,1878.0,pos,0 days 00:00:01.466000,0 days 00:37:51.331000

In [30]:
tele_df.shape

(293, 8)

In [31]:
pos_data_sample_lap.shape

(293, 8)

In [32]:
laps_copy = laps.copy()

In [35]:
lap_copy = laps_copy.pick_laps(1)
lap_copy

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
0,0 days 00:34:55.112000,GAS,10,0 days 00:01:34.820000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:31.637000,...,True,Toro Rosso,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,14.0,False,,False,False
52,0 days 00:34:56.492000,PER,11,0 days 00:01:36.200000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:31.330000,...,True,Racing Point,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,17.0,False,,False,False
105,0 days 00:34:46.865000,LEC,16,0 days 00:01:26.573000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:28.626000,...,False,Ferrari,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,1.0,False,,False,False
158,0 days 00:34:51.664000,STR,18,0 days 00:01:31.372000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:30.889000,...,False,Racing Point,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,7.0,False,,False,False
210,0 days 00:34:53.655000,MAG,20,0 days 00:01:33.363000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:31.635000,...,True,Haas F1 Team,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,11.0,False,,False,False
253,0 days 00:34:52.629000,ALB,23,0 days 00:01:32.337000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:31.371000,...,False,Red Bull Racing,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,9.0,False,,False,False
306,0 days 00:34:54.131000,KVY,26,0 days 00:01:33.839000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:31.943000,...,True,Toro Rosso,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,12.0,False,,False,False
336,0 days 00:34:49.524000,HUL,27,0 days 00:01:29.232000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:30.098000,...,False,Renault,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,4.0,False,,False,False
389,0 days 00:34:50.728000,RIC,3,0 days 00:01:30.436000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:30.627000,...,False,Renault,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,6.0,False,,False,False
442,0 days 00:35:01.424000,VER,33,0 days 00:01:41.132000,1.0,1.0,NaT,0 days 00:34:58.190000,NaT,0 days 00:00:29.447000,...,True,Red Bull Racing,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,20.0,False,,False,False
495,0 days 00:34:56.878000,NOR,4,0 days 00:01:36.586000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:32.539000,...,True,McLaren,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,18.0,False,,False,False
547,0 days 00:34:47.590000,HAM,44,0 days 00:01:27.298000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:29.223000,...,False,Mercedes,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,2.0,False,,False,False
600,0 days 00:34:49.755000,VET,5,0 days 00:01:29.463000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:30.601000,...,False,Ferrari,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,5.0,False,,False,False
652,0 days 00:34:52.030000,SAI,55,0 days 00:01:31.738000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:31.304000,...,False,McLaren,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,8.0,False,,False,False
679,0 days 00:34:55.610000,RUS,63,0 days 00:01:35.318000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:31.869000,...,True,Williams,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,15.0,False,,False,False
731,0 days 00:34:57.734000,RAI,7,0 days 00:01:37.442000,1.0,1.0,0 days 00:33:28.881000,NaT,NaT,0 days 00:00:30.309000,...,True,Alfa Romeo Racing,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,19.0,False,,False,False
783,0 days 00:34:48.293000,BOT,77,0 days 00:01:28.001000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:29.626000,...,False,Mercedes,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,3.0,False,,False,False
836,0 days 00:34:56.048000,GRO,8,0 days 00:01:35.756000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:31.155000,...,True,Haas F1 Team,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,16.0,False,,False,False
888,0 days 00:34:54.951000,KUB,88,0 days 00:01:34.659000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:31.459000,...,True,Williams,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,13.0,False,,False,False
939,0 days 00:34:52.994000,GIO,99,0 days 00:01:32.702000,1.0,1.0,NaT,NaT,NaT,0 days 00:00:32.088000,...,True,Alfa Romeo Racing,0 days 00:33:20.098000,2019-09-08 13:13:21.425,12,10.0,False,,False,False

In [48]:
total_laps = session.total_laps
total_laps

53

In [46]:
iterator = laps.iterlaps()

In [47]:
iterator

In [ ]:
for int, l in iterator:
    while int < 2:
        print(f"{int}")

0
1
2
3
4
5

In [39]:
type(l)

fastf1.core.Lap

In [45]:
copy_of_tele = sample_lap.get_car_data().copy()

In [49]:
sample_lap

Time                      0 days 00:39:16.986000
Driver                                       GAS
DriverNumber                                  10
LapTime                   0 days 00:01:27.121000
LapNumber                                    4.0
Stint                                        1.0
PitOutTime                                   NaT
PitInTime                                    NaT
Sector1Time               0 days 00:00:28.257000
Sector2Time               0 days 00:00:29.857000
Sector3Time               0 days 00:00:29.007000
Sector1SessionTime        0 days 00:38:18.153000
Sector2SessionTime        0 days 00:38:48.010000
Sector3SessionTime        0 days 00:39:17.017000
SpeedI1                                    308.0
SpeedI2                                    322.0
SpeedFL                                    303.0
SpeedST                                    338.0
IsPersonalBest                              True
Compound                                  MEDIUM
TyreLife                                     4.0
FreshTyre                                   True
Team                                  Toro Rosso
LapStartTime              0 days 00:37:49.865000
LapStartDate          2019-09-08 13:17:51.192000
TrackStatus                                    1
Position                                    13.0
Deleted                                    False
DeletedReason
FastF1Generated                            False
IsAccurate                                  True
Name: 3, dtype: object

In [50]:
pos_data_sample_lap

,Date,Status,X,Y,Z,Source,Time,SessionTime
0,2019-09-08 13:17:51.458,OnTrack,-1393.0,-739.0,1872.0,pos,0 days 00:00:00.266000,0 days 00:37:50.131000
1,2019-09-08 13:17:51.758,OnTrack,-1369.0,-490.0,1874.0,pos,0 days 00:00:00.566000,0 days 00:37:50.431000
2,2019-09-08 13:17:52.058,OnTrack,-1345.0,-252.0,1875.0,pos,0 days 00:00:00.866000,0 days 00:37:50.731000
3,2019-09-08 13:17:52.358,OnTrack,-1318.0,16.0,1876.0,pos,0 days 00:00:01.166000,0 days 00:37:51.031000
4,2019-09-08 13:17:52.658,OnTrack,-1294.0,265.0,1878.0,pos,0 days 00:00:01.466000,0 days 00:37:51.331000
...,...,...,...,...,...,...,...,...
288,2019-09-08 13:19:17.059,OnTrack,-1478.0,-2000.0,1866.0,pos,0 days 00:01:25.867000,0 days 00:39:15.732000
289,2019-09-08 13:19:17.359,OnTrack,-1472.0,-1761.0,1868.0,pos,0 days 00:01:26.167000,0 days 00:39:16.032000
290,2019-09-08 13:19:17.659,OnTrack,-1459.0,-1511.0,1869.0,pos,0 days 00:01:26.467000,0 days 00:39:16.332000
291,2019-09-08 13:19:17.959,OnTrack,-1443.0,-1271.0,1870.0,pos,0 days 00:01:26.767000,0 days 00:39:16.632000
292,2019-09-08 13:19:18.259,OnTrack,-1423.0,-1042.0,1871.0,pos,0 days 00:01:27.067000,0 days 00:39:16.932000